body{
    background-color: rgb(24,24,24);
    overflow-x: hidden;

}
*{
    margin: 0;
    padding: 0%;
}
.display{
    
    width:100%;
    height:20rem;
    background-image: linear-gradient(65deg,rgb(6, 110, 180),rgb(119, 7, 211));
   
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.tracks{
    width: 100%;
    height: 70vh;
    background-color: rgb(24,24,24);
    

}

.lyrics{
    max-width: 50%;
    max-height: max-content;
    background-color: transparent;
    color: rgb(0, 97, 182);
    border: 0;
    border-radius: 0;
    outline: 0;
    background-color: rgb(204, 204, 204);
    border-radius: .4rem;
    padding-left: .4rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: .3rem;
    
    
}
.lyricEnd-tags{
    width: 100%;
    height:max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    margin-top: 3rem;
   


}
.lyricNot-tags{
    width: 100%;
    height: 50vh;
    visibility: hidden;
    position: fixed;
    background-image: url(./assests/lyricNotF.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.keys-mini{
    fill: rgb(85, 85, 85);
    width: 1.5rem;
    height: 1.5rem;

}
.lyricEnd-tags-h3{
    color: rgb(85, 85, 85);
    font-size: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.lyrics::-webkit-scrollbar {
    background-color: transparent;
    
}
.lyrics::-webkit-scrollbar-thumb {
    background-color: rgb(0, 97, 182);
    border-radius: 2rem;
    width: 1rem;
   
  }
.lyrics::-webkit-scrollbar-track{
    background-color: transparent;

  }
  
  .right::-webkit-scrollbar {
    background-color: transparent;
    width: .2rem;
}
.right::-webkit-scrollbar-thumb {
    background-color: rgb(0, 97, 182);
    border-radius: 2rem;
    width: 1rem;
   
  }
.right::-webkit-scrollbar-track{
    background-color: transparent;

  }

body::-webkit-scrollbar {
    background-color: rgb(107, 107, 107);
    
    width: .2rem;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 97, 182);
    border-radius: 2rem;
    width: 1rem;
   
  }
body::-webkit-scrollbar-track{
    background-color: transparent;

  }
.end{
    width: 100%;
    min-height:max-content;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;

    background-color: rgb(29, 29, 29);
    border-bottom: .3rem solid rgb(24,121,138);
}
.iconDiv-end{
    width:  2.6rem;
    height: 2.6rem;
    background-image: url(./assests/beatmaax-hd-ico.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: .5rem;
    margin-bottom: 1rem;

}
.lyriccen{
    margin-top: 2rem;
    
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    align-items: center;
}
.iconDiv-end-title{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./assests/beatmaax-hd-ico.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    -webkit-background-clip: text;
}
.end-tags{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-image:linear-gradient(65deg,rgb(6, 110, 180),rgb(119, 7, 211));

}
.plymedia-div{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add{
    cursor: pointer;
    
}
.roar-section-cen{
    width: 100%;
    height:20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(65deg,rgba(6, 110, 180, 0.884),rgba(119, 7, 211, 0.836)50%,rgb(24,24,24)3%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
}
.roar-monster-section-left-cen{
    width:100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roar-monster-section-right-cen{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    
}
.roar-monster-section{
    width: 100%;
    height:max-content;
   overflow-x: hidden;
    margin-left: 1rem;
    overflow: hidden;

}
.song{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
    text-align: center;
    background-image: linear-gradient(30deg,rgb(239, 250, 82),orange);
    -webkit-background-clip: text;
    color: transparent;
}
.developer{
    cursor: pointer;
   fill: rgb(223, 4, 4);
}
.duration{
    transform: 300ms;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 97, 182);
    background-color: rgb(24, 24, 24);
    width:max-content;
    text-align: center;
    padding-top:      .5rem ;
    padding-bottom:   .5rem;
    border-radius: 2rem;
    
   
}
a{
    visibility: hidden;
}
.duration-center{
    width: 100%;
    height: 2vh;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}


.replay{
    transform: rotate(-65deg);
}

.fireshell-load{
    width: 3rem;
   
   position: absolute;
 
  
    
    height:3rem;
  
   animation: mload 1s linear infinite;
   opacity: 90%;

    border-radius: 100%;
 
   border-right: .6rem solid rgb(107, 107, 107);
        border-left: .6rem solid rgb(24, 24, 24);
        border-top:.6rem solid rgb(24, 24, 24);
        border-bottom:.6rem solid rgb(24, 24, 24);

}
.lyr3{
    white-space:pre-wrap;

}
@keyframes mload {
    0%{
     
     border-left-color: rgb(24, 24, 24);
     border-top-color:rgb(24, 24, 24);
     border-bottom-color: rgb(6, 110, 180);
     
    }
  50%{
     border-top-color:rgb(107, 107, 107);
     border-bottom-color: rgb(6, 110, 180);
     border-left-color:  rgb(107, 107, 107);
    
  }
    100%{
     transform: rotate(360deg);
     border-left-color: rgb(24, 24, 24);
     border-top-color:rgb(24, 24, 24);
     border-bottom-color: rgb(6, 110, 180);
    
    }
 }
 @keyframes mload-ops {
    0%{
    transform: rotate(0deg);
     border-left-color: transparent;
     border-top-color:transparent;
     border-bottom-color: rgb(0, 153, 255);
     
    }
  30%{
     border-top-color:transparent;
     border-bottom-color: rgb(152, 12, 170);
     border-left-color:  transparent;
     border-inline-start-style:inherit;
     border-inline-end-style: inherit;
     border-inline-start-width: .1rem;
    
  }
  70%{
    transform: rotate(90deg);
  }
  60%{
    border-bottom-color: rgb(255, 0, 55);
  }
    100%{
     transform: rotate(360deg);
     border-left-color: transparent;
     border-top-color:transparent;
     border-bottom-color: rgb(0, 153, 255);
    
    }
 }
.top{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    z-index: 1000;
    align-items: center;
    width: 100%;
    height: 0rem;
    display: flex;
    transition: 300ms;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    position:absolute;
   
}
.newSong{
    background-color: transparent;
    outline: none;
    caret-color: rgb(161, 161, 161);
    border: 0;
    max-width:50%;
    font-family:monospace;
    text-align: center;
    font-size: 1.4rem;
    margin-right: 1rem;
    border-radius: .2rem;
    padding: .2rem;
    color: rgb(223, 223, 223);
    text-transform: lowercase;
    visibility: hidden;
    position: fixed;
    border: .1rem solid rgb(223, 223, 223);
}
.newSong:focus{
    border: .1rem dashed rgb(228, 228, 228);
}
.close-top{
    visibility: hidden;
    position: fixed;
    margin-right: 1rem;
}
.go{
    visibility: hidden;
    position: fixed;
    margin-right: 1rem;
    transition: none;
    cursor: pointer;
}
.go:hover{
    fill: rgb(19, 19, 19);
}
::placeholder{
    color: rgb(240, 240, 240);
    opacity: 100%;
}
.right{
    transition: 300ms;
    width: 0%;
    height:100vh;
    position: fixed;
    z-index: 5000;
   display: flex;
    background-color:transparent;
}
.all{
    display: flex;
  
    
}
.emailus{
    fill: rgb(0, 97, 182);
    cursor: pointer;
}
.modecen{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    
    margin-top: 3rem;
}
.right-c-panel{
    width: 100%;
    height: max-content;
    margin-top: 1rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
}


.mode{
    width: 2rem;
    height: 2rem;
    visibility: visible;
    position: relative;
    fill: rgb(230, 230, 230);
}
.mode.browser-phone{
    margin-left: 1rem;
}
.mode.browser{
    margin-right: 1rem;
}
.emailus{
  width:  1.3rem;
  height: 1.3rem;
  cursor: pointer;
}
.email-feedbackDiv{
    min-width: 5rem;
    height: max-content;
    background-color: rgb(58, 58, 58);
    position: fixed;
    z-index: 5000;
    bottom: .1rem;
    padding: .3rem;
    padding: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.email-feedbackDiv:hover{
    background-color: rgb(43, 43, 43);
}
.emailus-h3-title{
    font-size: 1rem;
    margin-left: .2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(161, 161, 161);
    cursor: pointer;
}
.playtrack{
    width: 100%;
    height:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#waveform{
    width:90%;
    height: 19rem;
   
    background-image: url(./assests/errorBanner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
    background-blend-mode:multiply;

}
.audioTrack{
    width: 80%;
    height: 20vh;
    background-color: transparent;
}
.playbtn{
    width:  2rem;
    fill: rgb(6, 110, 180);
    height: 2rem;
   transform: scale(1.5);
    border-radius: 100%;
    padding: .5rem;
}
.forward{
    width:  2rem;
    fill: rgb(6, 110, 180);
    height: 2rem;
   
    border-radius: 100%;
    padding: .5rem;
}
.left{
    width: 100%;
}
.store-elm-div{
    margin-top: 1rem;
}
.keys{
    width:  2rem;
    fill: rgb(6, 110, 180);
    height: 2rem;
   margin-left:1rem ;
   margin-right: 1rem;
    border-radius: 5rem;
    padding: .5rem;
    cursor: pointer;
    transition: 300ms;
}
.keys:hover{
    background-color: rgb(58, 58, 58);
}
@keyframes roarplay-anim{
    0%{
        transform: rotate(0deg);
        
        
    }
    50%{
       
    }
    100%{
        transform: rotate(360deg);
        
    }
}
.more-effects{
    fill: rgb(230, 230, 230);
    left: .5rem;
    position: fixed;
    top: .5rem;
    transform: rotate(0deg);
    z-index: 6000;
}
@keyframes fade-in {
    0%{
        opacity: 0%;

    }
    100%{
        opacity: 100%;
    }
}
.trackChange{
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 97, 182);
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 2rem;
    width:50%;
    height: 3rem;
    border-right: .2rem solid rgb(0, 97, 182);
    border-radius:.2rem ;
    background-color: rgb(19, 19, 19);
    margin-top: 2rem;
    cursor: pointer;
    visibility: hidden;
}
.trackChange:hover{
    color: rgb(107, 107, 107);
    border-right: .2rem solid rgb(107, 107, 107);
}
.end-tags-left{
    width: 100%;
    height:10rem ;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: transparent;
    border: 0;
}
.end-tags-right{
    
    width: 100%;
    height:10rem ;
 
}
.fireshell-logo{
    width: 4rem;
    height:4rem;
    background-image: url(./assests/firshell.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(100deg);
}
.fireshell-logo-div{
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    height:10rem ;
    display: flex;
    background-color: rgb(24, 24, 24);
    justify-content: center;
    align-items:center;
   
}
.star{
    background-color: transparent;
    fill: rgb(24,121,138);
    
}
@keyframes star-add {
    0%{
        fill: rgb(24,121,138);

    }
    50%{
        transform: scale(.8);
        fill: rgb(239, 250, 82);

    }
    100%{
        transform: scale(1);
        fill: hotpink;
    }
    
}
@keyframes star-rmv {
    0%{
        transform: scale(1);
        fill: hotpink;


    }
    50%{
        transform: scale(.8);
        fill: rgb(236, 236, 236);

    }
    100%{
        transform: scale(1);
        fill: rgb(24,121,138);
    }
}
.fireshell-logo-text{
    cursor: pointer;
    font-size: 2rem;
    color:rgb(24,121,138);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.end-tags-right-div-common{
    max-width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    
    transition: 100ms;
}
.end-tags-right-div-common:hover{
    background-color: rgb(24, 24, 24);
}
.tag-text-common{
    color: rgb(223, 223, 223);
    font-family: Arial, Helvetica, sans-serif;
}
.effect-added-div-cen{
    width: 100%;
    height: 3rem;
    visibility: hidden;
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(65deg,rgb(6, 110, 180),rgb(119, 7, 211)50%,rgb(24,24,24)3%);

}
.effect-bar-icon{
    width:  2rem;
    height: 2rem;
    fill: rgb(13, 12, 24);
    background-color: rgb(255, 0, 55);
    border-radius: 100%;
    padding: .2rem;
}

.roar-Icon-on-effect-cen{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
   

}

.media-progress[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: .5rem;
    width: 80%;
    cursor: pointer;
    border-radius: 0; 
    border-radius: 1rem;
    outline: 0;
    border: 0;
}
.media-progress::-webkit-slider-runnable-track {
    background-color: rgb(85, 85, 85);
}
.media-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:  .5rem  ;
    height: .5rem;
    background: rgb(0, 153, 255);
    box-shadow: -1000px 0 0 1000px rgb(0, 153, 255);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border:.2rem solid rgb(0, 153, 255);
}

.media-progress::-moz-range-track {
    height: .5rem;
    background: rgb(119, 7, 211);
    border-radius: 1rem;
}
.media-progress::-ms-fill-lower { 
    background: dodgerblue;
}
.media-progress::-ms-thumb { 
    background: rgb(13, 12, 24);
    border: .2rem solid rgb(228, 228, 228);
    height: .5rem;
    width: 1rem;
    box-sizing: border-box;
}
.media-progress::-ms-ticks-after { 
    display: none; 
}

.media-progress::-ms-ticks-before { 
    display: none; 
}

.media-progress::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

.media-progress::-ms-tooltip { 
    display: none;
}

.media-prgress::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -200px 0 0 200px dodgerblue;
    box-sizing: border-box;
}
.roar-Icon-on-effect-cen-right{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items:center;
    
}
.trackD{
    width: 100%;
    height: max-content;
    background-color: rgb(13, 12, 24);
    border-top: .2rem solid rgb(24,121,138);
    
    display: flex;
    justify-content: center;
    align-items:center;
}
@keyframes trackD-Top-anim {
    0%{
        background-color: rgb(13, 12, 24);
    }
    50%{
        background-color: rgb(247, 40, 85);
    }
    100%{
        
        background-color: rgb(13, 12, 24);
    }
}
.trackD-songN{
    padding-left: 1rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2rem;
    display: flex;
    justify-content:flex-start;
    align-items:left;
    flex-direction: column;

}
.trackD-tab{
    width: 100%;
    height:1.3rem;
    background-color:transparent;
    display: flex;
    justify-content:flex-end;
    align-items:right;
    
    
}
.shuffle{
    margin-right: 1rem;
}
.browser-phone{
    opacity: 20%;
}
.popup-box-container-hidden-cen{
    width: 100%;
    height:max-content;
   
    display: flex;
    justify-content: center;
    align-items:center;
    
    
}
.pop-up-settings{
    width: 100%;
    height:30rem;
    
    visibility: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    position:fixed;
    background-color: rgb(13, 12, 24);
    
    border: .2rem solid rgb(24,121,138);
    padding-top: 1rem;
    border-right: 0;
    border-left: 0;
  
}
.pop-up-documentation{
    width: 50%;
    height:30rem;
    padding-top: 1rem;
    overflow-x: hidden;
    visibility: hidden;
    overflow-y: scroll;
    position: fixed;
    background-color: rgb(13, 12, 24);
    
    border: .2rem solid rgb(24,121,138);
   
    border-right: 0;
    border-left: 0;
   
}
.pop-up-settings::-webkit-scrollbar{
    background-color: transparent;
    width: .5rem;
    
}
.pop-up-settings::-webkit-scrollbar-track{
    background-color: transparent;
    width: .5rem;
    
}
.pop-up-settings::-webkit-scrollbar-thumb{
    width: .5rem;
    background: rgb(6, 110, 180);
    
    border-radius: 3rem;
    
}

.pop-up-documentation::-webkit-scrollbar{
    background-color: transparent;
    width: .5rem;
    
}
.pop-up-documentation::-webkit-scrollbar-track{
    background-color: rgb(13, 12, 24);
    width: .5rem;
    
}
.pop-up-documentation::-webkit-scrollbar-thumb{
    width: .5rem;
    background: rgb(6, 110, 180);
    
    border-radius: 3rem;
    
}

.pop-up-settings-headline-div{
    width: 100%;
    height: max-content;
  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 12, 24);
    
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pop-up-settings-headline{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    -webkit-background-clip: text;
    background-image: linear-gradient(65deg,rgb(243, 243, 6),rgb(250, 99, 124),rgb(54, 54, 255));

}
@keyframes pop-up-in-come-anim {
    0%{
        opacity: 0%;

    }
    50%{
        
        opacity: 80%;
    }
    100%{
       
        opacity: 100%;
    }
}
.common-setting-cen{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 3rem;
    flex-direction: column;
    margin-left: 1rem;
}
.common-h3-setting{
    color: rgb(218, 218, 218);
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .5rem;
    cursor: default;
    font-size: 1.7rem;
}
.div-special-cenFor-svg{
    margin-top: .5rem;
}
.common-h3-setting-value{
    color: rgb(218, 218, 218);
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: .5rem;
    cursor: default;
    font-size: 1rem;
}
.stereo-status{
    fill: rgb(218,218,218);
    width: 1.4rem;
    height: 1.4rem;
}
.common-input-setting{
    width:  1.5rem;
    height: 1.5rem;
    border-radius: .3rem;
    outline: 0;
    border: 0;
}

@media only screen and (max-width: 730px) {
    .ext1 , .ext2, .ext3
{
    visibility: hidden;
    position: fixed;
}
    .browser-phone{
        opacity: 100%;
    }
    .browser{
       opacity: 20%;
    }
   
 .pop-up-settings{
    visibility: hidden;
    position: fixed;
 }
 .emailus{
    width:  .3rem;
    height: .3rem;
 }
 .emailus-h3-title{
    font-size: .3rem
 }
}
@media only screen and (max-width:961px){
    .right{
        flex-direction:column-reverse;
    }
   
     .popup-box-container-hidden-cen{
        flex-direction: column;
     }
     .pop-up-settings{
        border-bottom: 0;
     }
     .pop-up-documentation{
        width: 100%;
        
        
     }
     .emailus{
        width:  .8rem;
        height: .8rem;
     }
     .emailus-h3-title{
        font-size: .8rem
     }
     .right-p-left{
        visibility: hidden;
        position: fixed;

     }

}
@media only screen and (max-width:415px){
    .keys{
        margin-left:  .4rem ;
        margin-right: .4rem;
    }
    .keys.playbtn{
        margin-left: .6rem;
        margin-right: .6rem;
    }
}
.trackN{
    color: rgb(6, 110, 180);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    white-space:nowrap;
}
.trackAz{
    color: rgb(6, 110, 180);
    font-size: .56rem;
    font-family: Arial, Helvetica, sans-serif;
    white-space:nowrap;
}
.userI{
    fill: rgb(24,121,138);
    width:  1.3rem;
    height: 1.3rem;
    margin-left: 2rem;
    cursor: pointer;
}
.roar-event-div{
    width:max-content;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    background-color: rgb(24, 24, 24);
    border-radius: 1.5rem;
    border: .2rem solid rgb(24,121,138);
    position: absolute;
    right: 1rem;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items:center;
    opacity: 90%;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    transition: 300ms;
}
.roar-event-h3{
    color: rgb(24,121,138);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem
}
.userB{
    fill: rgb(24,121,138);
    width:  1.6rem;
    height: 1.6rem;
    cursor: default;
    margin-right: .2rem;

}
.effects-pizzicato:focus + .pop-up-settings{
    visibility: visible;
    position: relative;
}
.commonBtn-setting{
    width:  6rem;
    min-height: 2.15rem;
    border-radius: 2rem;
    outline: 0;
    border: 0;
    background-color: rgb(0, 97, 182);
    color: rgb(236, 236, 236);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: .4rem;
}
.resetBtn-settings{
    background-color: rgb(255, 25, 25);
}
h3{
    cursor: default;
}
.str-fln{
    width:  1.5rem;
    height: 1.5rem;
    border-radius: .3rem;
}
.str-pch{
    width:  1.5rem;
    height: 1.5rem;
    border-radius: .3rem;
}
.input-str-pan-cen-div{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items:center;
}
.str-pan-chng-mode-btn{
    background-color: rgb(0, 97, 182);
    color: rgb(228, 228, 228);
    padding: .2rem;
    font-size: 1.5rem;
    border-radius: .3rem;
    margin-right: .5rem;
    outline: 0;
    border: .1rem solid rgb(223, 223, 223);
}
.btnPanel-setting-pop{
    display: flex;
    justify-content: center;
    align-items:center;
}
.right-p-left{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(13, 12, 24);
}
.right-p-right{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(29, 29, 29);
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 98%;

}
.right-p-right::-webkit-scrollbar{
    background-color: transparent;
    width: .5rem;
    
}
.right-p-right::-webkit-scrollbar-track{
    background-color: transparent;
    width: .5rem;
    
}
.right-p-right::-webkit-scrollbar-thumb{
    width: .5rem;
    background: rgb(6, 110, 180);
    
    
    
}
.upload-offline-key-div-right{
    max-width: max-content;
    min-height: 3rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    border-radius: 2rem;
    border-width: .2rem;
    border-style: solid;
    border-top-color:rgb(0, 153, 255);
    border-right-color: rgb(119, 7, 211);
    border-bottom-color:rgb(247, 40, 85) ;
    border-left-color:rgb(108, 1, 179);
    cursor: pointer;
    visibility: hidden;
    position: fixed;


}
.add-key-div-right{
    max-width: max-content;
    visibility: hidden;
    position: fixed;
    min-height: 3rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    border-radius: 2rem;
    border-width: .2rem;
    border-style: solid;
    border-top-color:rgb(0, 153, 255);
    border-right-color: rgb(119, 7, 211);
    border-bottom-color:rgb(247, 40, 85) ;
    border-left-color:rgb(108, 1, 179);
    cursor: pointer;
    margin-right: 1rem;



}

.keys.add{
    padding: .2rem;
    background-color: transparent;

}
.common-invisible-div-text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 97, 182);
    font-weight: 500;
    cursor: pointer;

}
.add-key-div-right:hover .add{
   fill: rgb(255, 0, 55);
  

}
.add-key-div-right:hover .upldOff{
    fill: rgb(255, 0, 55);
   
 
 }
.add-key-div-right:hover .common-invisible-div-text{
    color: rgb(255, 0, 55);
}
.keys.upldOff{
    padding: .2rem;
    background-color: transparent;
    border-radius: 0;
    margin-left: 1rem;
}



 .upload-offline-key-div-right:hover .upldOff{
     fill: rgb(255, 0, 55);
    
  
  }
 .upload-offline-key-div-right:hover .common-invisible-div-text{
     color: rgb(255, 0, 55);
 }
 .keys.upldOff{
     padding: .2rem;
     background-color: transparent;
     border-radius: 0;
 }
@keyframes right-income-fd {
    0%{
        opacity: 100%;

    }
    50%{
        opacity: 80%;

    }
    100%{
        opacity: 50%;

    }
}
@keyframes right-outcome-fd {
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}
.common-right-p-div-toolbox-all{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.common-right-p-div-toolbox{
    width:95%;
    height:8rem;
    background-color: rgb(13, 12, 24);
    border-radius: 1.3rem;
    margin-top: 1rem;
    opacity: 100%;
}
.userBox{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.avatarDiv{
    width:  100%;
    height: max-content;
    display: flex;
    background-color: transparent;


}
.hidden-divFor-more-effects{
    width:5rem; 
    height:max-content;
    display: flex;
    justify-content: flex-start;
    visibility: hidden;
    position: fixed;
    align-items: center;
    margin-bottom: 1rem;
    
}
.commonavtr-sample{
    width:  100%;
    position: relative;
    height: max-content;
    display: flex;
    padding: .2rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 1rem;
}
.avatarNm{
    font-size: 4vh;
    text-align: center;
    color:transparent;
    background-image: linear-gradient(65deg,#4760FF,#1FAAFF);
    -webkit-background-clip: text;
    font-family: Arial, Helvetica, sans-serif;
}
.beatmaax-svg-signIn{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position:fixed;
    background-image: url(./assests/beatmaax-hd-svg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .4rem;
}
.sign-in-box-catched{
    width: 95%;
    border-radius: 2rem;
    min-height: 10rem;
    background-color: rgba(0, 0, 0, 0.788);
    margin-top: 2rem;

}
.sign-box-inside-div-cen{
    width: 100%;
    height: max-content;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-box-inside-div-cen-otr{
    width: 100%;
    height: max-content;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    margin-left: 1.2rem;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.common-input-sign-box{
    width: 90%;
    min-height:3rem;
    font-size: 3vh;
    color: rgb(0, 153, 255);
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
    outline: 0;
    background-color: rgb(1, 22, 36);
}
.common-input-sign-box.password-input{
    caret-color: rgb(255, 0, 55);
}
.common-input-sign-box.common-input-sign-box.password-input::placeholder{
    font-style: italic;
    color: rgb(255, 0, 55);
}
.common-input-sign-box.username-input{
    caret-color:rgb(0, 153, 255);
}
.common-input-sign-box.common-input-sign-box.username-input::placeholder{
    font-style: italic;
    color: rgb(0, 153, 255);
}
.common-input-sign-box.nknme-input{
    caret-color:rgb(0, 138, 80);
}
.common-input-sign-box.common-input-sign-box.nknme-input::placeholder{
    font-style: italic;
    color: rgb(0, 138, 80);
}

.common-input-sign-box-text{
    color: rgb(228, 228, 228);
    text-overflow:ellipsis;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: .8rem;
}
.required-mark{
    color: rgb(255, 0, 55);
    margin-right: .1rem;
}
.right-ops{
    width:  8rem ;
    height: 8rem;
    background-color: rgb(0, 0, 0);
    margin: .7rem;
    visibility: hidden;
    position: fixed;
    border-radius: 1rem;
    border-width: .2rem;
    border-style: solid;
    border-top-color:rgb(0, 153, 255);
    border-right-color: rgb(119, 7, 211);
    border-bottom-color:rgb(247, 40, 85) ;
    border-left-color:rgb(108, 1, 179);
}
.loadwheel-all{
    width:  5rem;
    height: 5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    padding: .2rem;
    border-radius: 100%;

}
.loadwheel-right-ops-common{
    width: 5rem; 
    height:5rem;
    animation: mload-ops 500ms linear infinite;
    border-radius: 100%;    
    border-color: transparent;
    border-right-style:solid;
    border-left-style:solid ;
    border-top-style:solid ;
    border-bottom-style: solid;
    visibility: hidden;
    border-width: .6rem;
    border: .19rem solid rgb(0, 153, 255);
}
.all-right-ops-cen{
    width: 100%;
    display: flex;
    
    height: max-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}

.spec-top-ops-panel{
    margin-bottom: 0;
    flex-wrap: wrap;
}
/*
    spec
*/
#massage-box-cen{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 11000;
    display: flex;
    align-items: center;
    visibility: hidden;
    justify-content: center;
    
}
#promo-msg{
    width: 30%;
    min-height: 15rem;
    visibility: hidden;
    border-radius: 1rem;
    background-image:linear-gradient(65deg,rgb(8, 91, 146), rgb(175, 8, 44), rgb(189, 189, 9));
    transition: 300ms;
    animation: msgBox-transition-grad 10s  infinite;
    -webkit-background-clip:border-box;
    background-clip: border-box;
    background-position: center;
    background-size: cover;
}
#msg{
    width: 30%;
    min-height: 15rem;
    visibility: hidden;
    background-color: rgb(24, 24, 24);
    border-radius:1rem;
    position: absolute;
    z-index: 11001;
}
.msg-temp{
    font-size: 4vh;
    color: rgb(0, 153, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
@keyframes msgBox-transition-grad {
    0%{
        background-position: -30px -40px;
    }
    40%{
        background-position: 50px 60px;
    }
    80%{
        background-position: 00px 0px;
    }
    100%{
        background-position: -30px -40px;
    }
}